@use '@styles/base.scss';

.root {
  flex: 1;
  min-width: 240px;

  @media (max-width: base.$breakpoint-md) {
    min-width: unset;
  }

  &__title {
    font-size: 12px;
    font-weight: 500;
    padding-bottom: 20px;

    border-bottom: 1px solid base.$grey-extra;
  }

  &__input {
    max-width: 90px;
    margin-top: 20px;

    @media (max-width: base.$breakpoint-md) {
      max-width: unset;
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }
}
