@use '@styles/base.scss';

.root {
  width: 100%;
  margin-top: 20px;

  display: flex;
  gap: 10px;

  @media (max-width: base.$breakpoint-md) {
    display: none;
  }

  &__preview {
    flex-shrink: 0;

    width: 420px;
    display: flex;
    justify-content: center;
    gap: 30px;

    &_wrapper {
      display: grid;
      align-items: stretch;
      font-weight: 600;
    }

    &_title {
      font-size: 22px;
      font-weight: 800;
    }

    &_img {
      width: 100px;
      height: 100px;
      border-radius: 18px;

      object-fit: cover;
      object-position: center;
    }

    &_user {
      width: 200px;
      color: base.$black;
      text-decoration: none;
    }
  }

  &__item {
    width: 150px;
    flex-shrink: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    &_heading {
      height: 75px;
      padding-bottom: 20px;
      border-bottom: 1px solid rgba(207, 219, 213, 0.6);

      h1 {
        width: 100%;
        font-size: 16px;
        font-weight: 700;
      }
    }

    &_content {
      margin-top: 20px;
    }
  }

  &__price {
    &_wrapper {
      margin-bottom: 10px;

      display: flex;
      align-items: center;
      gap: 10px;
    }

    &_icon {
      width: 20px;
    }

    &_price {
      font-size: 20px;
      font-weight: 700;
    }

    &_usd {
      font-size: 16px;
      font-weight: 700;
      color: base.$grey;
    }
  }
}
