@use "@styles/base";

.root {
  text-align: center;
  padding: 95px 15px;

  &_img {
    max-width: 520px;
    width: 100%;
    margin-bottom: 75px;
  }

  &_text {
    font-size: 17px;
    font-weight: 400;
    color: base.$grey;
    margin: 10px 0 0;
  }

  &_btn {
    width: 80px;
    height: 35px;
    margin: 35px auto 0;
    padding: 0 15px;
    border-radius: 10px;
    border: 1px solid base.$violet;

    display: flex;
    align-items: center;
    justify-content: center;

    color: base.$white;
    background-color: base.$violet;
  }
}
