@use '@styles/base';

.root {
  width: 100%;
  margin: auto;
  padding: 25px 0;

  &__wrapper {
    margin-top: 25px;
    text-align: center;
  }

  &__confirm {
    font-size: 18px;
    font-weight: 700;
    color: base.$black;
    width: 100%;
    border: 2px solid base.$grey-darker;
    border-radius: 2px;
    background: none;
    padding: 12px;
    margin-top: 15px;
    transition: 0.4s ease-in-out;

    &:hover {
      opacity: 0.8;
    }

    &:disabled {
      opacity: 0.7;
      pointer-events: none;
    }
  }
}
