.root {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.8);

  .loader_root {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      transform: scale(2);
    }
  }
}
