@use '@styles/base';

.root {
  max-width: 1684px;
  width: 100%;
  padding: 20px 60px 60px 60px;
  margin-left: auto;
  margin-right: auto;

  @media (max-width: base.$breakpoint-md) {
    padding: 0 15px 35px;
  }

  &__wrapper {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    gap: 40px;

    @media (max-width: base.$breakpoint-md) {
      flex-direction: column;
    }
  }

  &__content {
    width: 100%;
  }
}
