@use '@styles/base.scss';

.root {
  position: absolute;
  inset: 0;

  background-color: base.$popup-dark-background;

  &__main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    width: 100%;
    max-width: 1150px;

    border-radius: 10px;
    background-color: base.$white;
  }
}
