@use "@styles/base.scss";

.root {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;

  padding: 16px 0;
  border-bottom: 1px solid base.$grey-extra;

  &__title {
    font-size: 12px;
    font-weight: 500;
    color: base.$grey;
    margin-bottom: 10px;
  }

  &__description {
    font-size: 14px;
    font-weight: 700;
  }

  &__group {
    display: flex;
    gap: 30px;
  }
}
