@use '@styles/base';

.root {
  border: 1px solid base.$grey-extra-light;
  padding: 20px 25px;

  border-radius: 15px;
  margin-bottom: 10px;
  background-color: base.$white;

  &__preview {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 700;
    color: base.$black;

    span {
      cursor: pointer;
    }
  }

  &__toggle {
    background: none;
    border: none;
    transition: opacity .2s ease-in-out;

    svg {
      transition: transform .2s ease-in-out;
    }

    &:hover {
      opacity: .7;
    }

    &_active {
      svg {
        transform: rotate(90deg);
      }
    }
  }
}
