@use '@styles/base.scss';

.root {
  padding: 10px 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  &__close {
    border: none;
    background: none;
    transition: .2s ease-in-out;

    &:hover {
      opacity: .8;
    }
  }

  &__title {
    font-size: 24px;
    font-weight: 800;
  }
}
