@use "@styles/base";
@use "@styles/main";
//draft
.root {
  max-width: 850px;
  width: 100%;
  margin-left: 165px;
  @media (max-width: base.$breakpoint-md) {
    margin-left: 0;
  }

  &__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
  }

  &__btn {
    font-size: 14px;
    font-weight: 700;
    width: 165px;
    padding: 13px;
    border-radius: 2px;
    border: none;
    transition: 0.4s ease-in-out;

    &:hover {
      opacity: 0.8;
    }

    &_light {
      color: base.$violet;
      background: base.$violet-light;
    }

    &_dark {
      color: base.$white;
      background: base.$violet;
    }
  }

  &__title {
    font-size: 42px;
    font-weight: 800;
    line-height: 51px;
    color: base.$black;
    //@media (max-width: base.$breakpoint-md) {
    //  display: none; draft
    //}
  }

  &__subtitle {
    font-size: 18px;
    font-weight: 800;
    color: base.$black;
    margin-top: 38px;
  }

  &__block {
    margin-top: 24px;
  }

  &_group {
    background: rgba(235, 240, 240, 0.5);
    border-radius: 16px;
    padding: 22px 26px 10px;
    margin-top: 16px;
    margin-bottom: 24px;

    &__item {
      padding-bottom: 16px;
      border-bottom: 1px solid rgba(207, 219, 213, 0.6);
      margin-bottom: 16px;

      &:last-child {
        padding-bottom: 0;
        border-bottom: none;
      }

      &__inner {
        display: flex;
        align-items: center;
      }

      &__icon {
        width: 46px;
        height: 46px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        margin-right: 18px;
        border: 1px solid rgba(207, 219, 213, 0.6);
        border-radius: 50%;

        img {
          width: 18px;
          height: 18px;
        }
      }

      &__btn {
        font-size: 12px;
        font-weight: 700;
        color: base.$white;
        padding: 9px 18px;
        background: base.$black;
        border: none;
        flex-shrink: 0;
        border-radius: 18px;
        margin-left: auto;
        transition: 0.4s ease-in-out;

        &:hover {
          opacity: 0.8;
        }
      }

      &__disconnect {
        max-width: 165px;
        width: 100%;
        font-size: 14px;
        font-weight: 700;
        color: base.$black;
        padding: 14px 18px;
        background: none;
        border: 1px solid rgba(122, 82, 244, 0.3);
        border-radius: 2px;
        margin-left: auto;
        flex-shrink: 0;
        transition: 0.4s ease-in-out;

        &:hover {
          opacity: 0.8;
        }
      }

      &__connect {
        display: flex;
        align-items: center;
        font-size: 14px;
        font-weight: 700;
        color: base.$black;
        background: none;
        border: none;
        flex-shrink: 0;
        margin-left: auto;
        transition: 0.4s ease-in-out;

        &:hover {
          opacity: 0.8;
        }

        img {
          width: 18px;
          height: 18px;
          margin-right: 8px;
        }
      }

      &__switch {
        margin-left: auto;
      }

      &__add {
        display: flex;
        align-items: center;
        font-size: 14px;
        font-weight: 700;
        color: base.$black;
        background: none;
        border: none;
        transition: 0.4s ease-in-out;

        &:hover {
          opacity: 0.8;
        }

        img {
          width: 18px;
          height: 18px;
          margin-right: 8px;
        }
      }
    }

    &__info {
      margin-right: 25px;

      &__subtitle {
        font-size: 12px;
        font-weight: 500;
        color: base.$grey-main;
      }

      &__text {
        font-size: 14px;
        font-weight: 700;
        color: base.$black;
        margin-top: 4px;
      }
    }

    &__label {
      display: block;
      font-size: 12px;
      font-weight: 500;
      color: base.$grey-main;
    }

    &__input {
      display: block;
      font-size: 14px;
      font-weight: 700;
      color: base.$black;
      border: none;
      background: none;
      margin-top: 10px;

      &::-webkit-input-placeholder {
        font-family: 'Inter', sans-serif;
        font-size: 14px;
        font-weight: 700;
        color: base.$black;
      }

      &::-moz-placeholder {
        font-family: 'Inter', sans-serif;
        font-size: 14px;
        font-weight: 700;
        color: base.$black;
      }

      &:-ms-input-placeholder {
        font-family: 'Inter', sans-serif;
        font-size: 14px;
        font-weight: 700;
        color: base.$black;
      }

      &:-moz-placeholder {
        font-family: 'Inter', sans-serif;
        font-size: 14px;
        font-weight: 700;
        color: base.$black;
      }
    }
  }
}
