@use '@styles/base';

.device_box {
  margin: 20px 0;
  padding: 30px;
  background-color: base.$grey-brown;
}

.hide_button {
  display: flex;
  align-items: center;
  gap: 10px;

  background: none;
  border: none;
  cursor: pointer;
  margin-right: 5px;

  color: base.$white;
  font-size: 18px;
  font-weight: 600;

  svg {
    transition: transform .2s ease-in-out;
  }
}

.active_button {
  svg {
    transform: rotateZ(90deg);
  }
}
