@use '@styles/base';

.root {
  width: 100%;
  max-width: 1680px;
  min-height: base.$body;
  margin: auto;
  padding: 0 60px 100px;
  @media screen and (max-width: base.$breakpoint-md) {
    padding: 0 20px 35px;
  }

  &__wrapper {
    display: flex;

    @media screen and (max-width: base.$breakpoint-lg) {
      flex-direction: column;
    }
  }
}
