@use '@styles/base';

.root {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  list-style: none;

  &__item {
    font-size: 14px;
    font-weight: 700;
    color: base.$grey-main;
    text-transform: capitalize;

    cursor: pointer;
    transition: color .2s ease-in-out;

    &_active, &:hover {
      color: base.$black;
    }
  }

}
