@use '@styles/base.scss';

.root {
  position: relative;
  padding: 0 20px;

  &__image {
    width: 100%;
    height: 350px;
    border-radius: 10px;

    object-fit: cover;
    object-position: center;
  }

  &__text {
    margin-bottom: 10px;
    font-size: 13px;
    font-weight: 500;
    color: base.$grey;
  }

  &__upload {
    position: absolute;
    top: 20px;
    right: 40px;
    z-index: 1500;

    width: 35px;
    height: 35px;
    border: 1px solid base.$white;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    transition: .2s ease-in-out;
    background-color: base.$white;

    &:hover {
      border-color: base.$violet;
      background-color: base.$violet;
    }
  }

  &__reset {
    position: absolute;
    top: 20px;
    right: 40px;
    z-index: 1500;

    width: 70px;
    height: 30px;
    color: base.$white;
    border-radius: 5px;
    border: 1px solid base.$violet;

    transition: .2s ease-in-out;
    background-color: base.$violet;

    &:hover {
      border-color: base.$black;
      background-color: base.$black;
    }
  }
}
